<%= form_with url: batch_update_notifications_path, method: :post, local: true do |form| %>
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>

      <div class="modal-body">
        <% @approve_one_month_notifications.group_by { |notification| notification.user }.each do |user, user_notifications| %>
          
          <h4 class="text-center">【<%= user.name %>からの勤怠変更申請】</h4>

          <table class="table table-condensed table-hover table-bordered text-center">
            <thead>
              <tr>
                <th class="text-center">月</th>
                <th class="text-center">指示者確認㊞</th>
                <th class="text-center">変更</th>
                <th class="text-center">勤怠を確認する</th>
              </tr>
            </thead>

            <tbody>
              <% user_notifications.each do |notification| %>
                <tr>
                  <td><%= notification.requested_month.strftime('%-m月') %></td>
                  <td><%= select_tag "notifications[#{notification.id}][status]", options_for_select(Notification::STATUSES, notification.status) %></td>
                  <td><%= form.check_box "notifications[#{notification.id}][is_active]", {}, "true", "false" %></td>
                  <td><%= link_to "確認", user_path(user, date: notification.attendance.worked_on), class: "btn btn-primary", target: "_blank" %></td>
                </tr>
                </tr>
              <% end %>
            </tbody>
          </table>
          
        <% end %>

        <div class="text-center" style="margin-top: 20px;">
          <%= form.submit "変更を送信する", class: "btn btn-primary" %>
        </div>

      </div>
    </div>
  </div>
<% end %>
